@charset "UTF-8";
/* CSS Document */


/*** === NAVIGATION BAR === ***/

nav#navigation-bar {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	z-index: 5;
	height: 12%;
	max-width: 100%;
}

ul#main-navigation {
	font-size: 1.5em;
	letter-spacing: 0.075em;
	margin: -2% 1% 0 0;
}

ul#main-navigation li a {
	color: white;
}

/*** END OF NAVIGATION BAR ***/

/*** === LANDING SECTION === ***/

div#top-container {
	position: relative;
}

div#heading-holder {
	position: absolute;
	top: 40%;
	left: 25%;
}

h1#name {
	font-size: 7em;
	font-weight: 600;
	letter-spacing: 0.05em;
}

h4#name {
	font-size: 12em;
	font-weight: 600;
	letter-spacing: 0.05em;
}


div#descriptors {
	color: white;
	font-size: 4em;
	font-weight: 300;
	letter-spacing: 0.025em;
}

img#down-arrow {
	position: absolute;
	top: 90%;
	left: 50%;
}

/*** END OF LANDING SECTION ***/

/*** === ABOUT SECTION === ***/

img {
  display : block;
  margin : 3% auto;

}

p#about-description {
	font-size: 2em;
}

/*** END OF ABOUT SECTION ***/

/*** === PASSION SECTION === ***/

.passion-nav {
	list-style: none;
}

.passion-card {
	display: inline-block;
	padding: 5% 0 5% 0;
}

.passion-text {
	float: right;
	margin-top: -5%;
	width: 75%;
}

.passion-text h3 {
	font-size: 1.75em;
	font-weight: 600;
	letter-spacing: 0.035em;
}

.passion-text p {
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 0.025em;
/*	text-align: right;*/
}

/*** === END OF PASSION SECTION === ***/

/*** === SKILLS SECTION === ***/

div#skills-section h3 {
/*	font-size: 2em;*/
	letter-spacing: 0.035em;
	margin: 0 0 3% 0;
}

div#progress-bars h4{
	font-size: 1.35em;
	letter-spacing: 0.025em;
	margin: 1% 0;
}

.p-bar {
	width: 80%;
}

.skills-list {
	font-size: 1.65em;
	list-style: none;
}

.skills-list li {
	margin: 0.375em 0;
}

.donut-chart {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 200;
	width: 200;
}


/*** END OF SKILLS SECTION ***/

/*** === CONTACT SECTION === ***/

p#contact-description {
	font-size: 2em;
	letter-spacing: 0.035em;
	margin: 0 0 3% 0;
}

p#contact-description a:hover {
	color: white;
	text-decoration: none;
}

ul#social-nav li {
	margin: 0 0.5%;
	font-size: 2.5em;
}

ul#social-nav *:before {
	color: white;
}

ul#social-nav li:hover {
	opacity: 0.75;
}

/*** END OF CONTACT SECTION ***/

/*** === CLASSES === ***/

.active-link {
	border-bottom: solid #2980B9;
}

.header-class {
	margin: 3% 0;
}

.text-white {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-red {
	color: #CC0000;
}

.text-black  {

	color: #000000;

}

.dark {
	background-color: #DDD;
}

.super-dark {
	background-color: #202020;
}

.page {
	min-height: 730px;
}

/*** END OF CLASSES ***/

/*** === PARALLAX === ***/

.parallax {
    background-image: url("../images/quaresma.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*** END OF PARALLAX ***/

/*** === BUILT-IN CLASSES === ***/

h2 {
	color: #383838;
	font-size: 3em;
	font-weight: 600;
	letter-spacing: 0.035em;
	margin-top: 3%;

}

p strong {
	letter-spacing: 0.035em;
}

body {
	background-color: white;
	font-family: "Droid Serif", serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

/*** END OF BUILT-IN CLASSES ***/

/*** === MEDIA QUERIES === ***/


/*@media (min-width: 768px) {
 * 	h1 { font-size: 112px; }
 * 		p { font-size: 40px; }
 * 		}
 *
 * 		@media (min-width: 425px) {
 * 			h1 { font-size: 10px; }
 * 				p { font-size: 30px; }
 * 				}*/


/*** CHANGE HIGHLIGHT COLOR ***/

::selection {
    background-color: #2980B9;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #2980B9;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #2980B9;
    color: #fff;
}
