@import url('https://fonts.googleapis.com/css?family=B612+Mono|Rubik+Mono+One&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Variables */
:root {
    --red: #CC0000;
    --dark-red: #A94A64;
    --white: #FFF;
    --black: #2a343d;
}


header {

    font-family: 'Rubik Mono One', sans-serif;

}

body {
    min-width: 320px;
    font-family: 'B612 Mono', monospace; /* font-family: 'B612 Mono', monospace; */
    -webkit-overflow-scrolling: touch; /* Flick scrolling for iPhones */
    scroll-behavior: smooth;
    background-color: #2a343d;
    color: white;
    text-align: center;
}

.img-circle {
  border-radius: 50%;
}

a {
  color: white;
}
