@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bg-image1, .bg-image2, .bg-image3 {


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image1 {
  /* The image used */
  background-image: url("../../images/projects-bg.jpg");

  /* Set a specific height */
  height: 500px;
}

.bg-image2 {
  /* The image used */
  background-image: url("../../images/experience-bg.png");

  /* Set a specific height */
  height: 500px;
}

.bg-image3{
  /* The image used */
  background-image: url("../../images/passion-bg.jpg");

  /* Set a specific height */
  height: 500px;
}


.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #ed4933;
  color: #fff;
  padding: 18px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;

}
