@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:800i&display=swap');
.bg-image1, .bg-image2, .bg-image3 {


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.bg-image1 {
  /* The image used */
  background-image: url("https://i.imgur.com/kb9dMmWm.jpg");
}
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .bg-image1 {
    background-image: url("https://i.imgur.com/kb9dMmW.jpg");
  }
}
.bg-image2 {
  /* The image used */
  background-image: url("https://i.imgur.com/dRKLRREm.jpg");
}
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .bg-image2 {
    background-image: url("https://i.imgur.com/dRKLRRE.jpg");
  }
}

.bg-image3{
  /* The image used */
  background-image: url("https://i.imgur.com/EyfYRrFxm.jpg");
}
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .bg-image3 {
    background-image: url("https://i.imgur.com/EyfYRrF.jpg");
  }
}

.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgb(0,0,0,0);
  color: #fff;
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 52px;
  letter-spacing: 2px;
  text-shadow: -5px 1px 0px #000000;
}
@media
  (min-width: 480px) {
   .caption span.border {
    font-size: 72px;
  }
}
