.bg-image1 {
    /* The image used */
    background-image: url("../../images/experience-bg.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #76323F;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
